::-webkit-scrollbar {
  display: none;
}
.image-separator, .video-placeholder {
  background-attachment: fixed;
  display: block;
}
@media screen and (min-height: 750px) {
  #codeVisual {
    background-color: tan;
    flex: 1 0 0;
    width: calc(100% - 2em);
    max-height: 30em;
    max-width: 50em;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
  }
  .codeVisualButton {
    height: 1em;
    width: 1em;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 1em;
  }
  #codeVisualTerminal {
    height: calc(100% - 3em);
    position: absolute;
    top: 3em;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}
#button1 {
  right: 1em;
  background-color: red;
}

#button2 {
  right: 2.5em;
  background-color: yellow;
}

#button3 {
  right: 4em;
  background-color: lightgreen;
}

#main-jumbotron h1 {
  font-size: 3em;
}
.mobile {
  display: none;
}

.desktop {
  display: initial;
}

.mobile-scroll {
  flex-wrap: wrap;
  overflow-x: auto;
}
.mobile-scroll > :first-child, .mobile-scroll > :last-child {
  margin: 0 !important;
}

.project-card {
  flex: 0 0 33%;
}

#nav-bar {
  width: auto;
  background-color: transparent;
}
#nav-bar .desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#nav-bar a {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  border: 5px solid grey;
  margin: 0.5em 0.5em 2.5em 0.5em;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  transition:
    width 0.1s,
    height 0.1s,
    margin 0.1s;
}
#nav-bar a:last-child {
  margin-bottom: 0;
}
#nav-bar a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
#nav-bar a.active {
  width: 2em;
  height: 2em;
  margin: 0 0 2em 0;
}
#nav-bar a:last-child.active {
  margin-bottom: -0.5em;
}
.video-separator {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.desktop {
  display: block !important;
}
.desktop.inline {
  display: inline !important;
}
.desktop.flex {
  display: flex !important;
}
.mobile {
  display: none !important;
}

.project {
  background-size: 100% cover;
}
.project:hover {
  background-size: 102% auto;
}
.project:hover::before {
  opacity: 0;
}
.mini-project {
  width: calc(100% / 3);
}
@media screen and (max-width: 1600px) {
  .mini-project {
    width: 50%;
  }
}

.project-icon {
  flex-basis: 258px;
  width: 258px;
  height: 258px;
}
.project-icon > img, .project-icon > .image-text {
  width: 128px;
  height: 128px;
}
.project-icon > .image-text {
  font-size: 24px;
}
.project-icon > .image-text.large-text {
  font-size: 40px;
}
#scroll-left, #scroll-right {
  height: 258px;
  position: relative;
  top: -258px;
  margin-bottom: -258px;
  background-color: darkslategrey;
  opacity: 0;
  border: none;
  transition: opacity 0.2s;
  cursor: pointer;
  font-size: 5em;
  width: 2em;
  color: white;
  outline: none;
}
#scroll-left:hover, #scroll-right:hover {
  opacity: 0.2;
}
#scroll-left:active, #scroll-right:active {
  opacity: 0.5;
}
#scroll-left {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
#scroll-right {
  left: calc(100% - 4em);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
